h1, h2 {
  font-family: 'PT Sans Caption';
}

h2 {
  font-size: 1.5rem;
}

p {
  font-family: 'PT Serif'
}

#bio-dump {
  font-size: 1.25rem;
  line-height: 1.5;
}

table, h2 {
  font-family: 'PT Sans'
}

#default-page {
  margin-bottom: 0;
  height: 100vh;
  position: relative;
}

#search-group {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#band-info {
  display: none;
}

.sim-img {
  height: 5%;
  width: 5%;
}

.sim-div {
  margin: 0;
  display: inline-block;
  transition: all .7s ease;
  cursor: pointer;
}

.sim-artist {
  display: block;
}

.sim-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.sim-div:hover {
  transform: scale(1.2);
}

#sim-artist-dump {
  text-align: center;
  justify-content: space-around;
  width: 100%;
  display: flex
}