#default-page {
  margin-bottom: 0;
  height: 100vh;
  position: relative;
}

#search-group {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#band-info {
  display: none;
}

.sim-img {
  height: 5%;
  width: 5%;
}

.sim-div {
  margin: 0;
  display: inline;
}

.sim-img {
  border-radius: 50%;
}

#sim-artist-dump {
  margin: 0 auto;
}

